body {
    background:url(../Imagenes/fondo1.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
}
h2{
    color:white;
    font-family: "Bradley Hand ITC";
}
p{
    color:whitesmoke;
    font-family: "Comic Sans MS";
}
div p{
    background:#333333;
    color:white;
    width:500px;
    padding:05px;
    border:05px solid #666666;
}
.text {
    position:absolute;
    top:;
    bottom:270px;
    right:;
    left:500px;
}
.imagen2 {
    position:absolute;
    top:500px;
    bottom:;
    right:;
    left:600px;
}
